asyncio==3.4.3
bbae-invest-api==0.1.3
chaseinvest-api==0.3.2
curl_cffi==0.7.4
discord.py==2.5.2
dspac_invest_api==0.1.3
fennel-invest-api==1.2.0
fidelity-api==0.0.12
firstrade==0.0.33
GitPython==3.1.44
nodriver==0.47.0
-e git+https://github.com/MaxxRK/playwright_stealth@64856026a91e85f7639c17ddc9cad42496233da9#egg=playwright_stealth
public-invest-api==1.3.5
pyotp==2.9.0
python-dotenv==1.1.0
requests==2.32.4
robin-stocks==3.4.0
# schwab-api==0.4.3
-e git+https://github.com/yanowitz/schwab-api.git@367ef565c35bf5c96b6d456c46c18ce05603d87a#egg=schwab-api
selenium-stealth==1.0.6
setuptools==80.9.0
tastytrade==9.11
vanguard-api==0.3.1
-e git+https://github.com/NelsonDane/webull.git@ef14ae63f9e1436fbea77fe864df54847cf2f730#egg=webull
