asyncio==3.4.3
chaseinvest-api==0.1.6
discord.py==2.3.2
fennel-invest-api==1.0.9
firstrade==0.0.18
GitPython==3.1.43
public-invest-api==1.0.4
pyotp==2.9.0
python-dotenv==1.0.1
requests==2.32.3
robin-stocks==3.1.0
schwab-api==0.4.0
selenium==4.21.0
setuptools==70.0.0
tastytrade==8.0
vanguard-api==0.1.6
-e git+https://github.com/NelsonDane/webull.git@ef14ae63f9e1436fbea77fe864df54847cf2f730#egg=webull
