@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
         url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
         url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#toast {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #fff; /* White background */
    color: #333; /* Dark text color for contrast */
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for better visibility */
    line-height: 28px; /* Adjust line height to vertically center the text */
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}