name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml

jobs:
  update-dockerhub-description:
    name: Update Docker Hub Description
    uses: NelsonDane/Custom-GitHub-Actions/.github/workflows/dockerhub-description.yml@7e095d077342808e4f52deb091fcba86f688fe6b
    with:
      dockerhub_repo_name: auto-rsa
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
