name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/dockerhub-description.yml

jobs:
  update-dockerhub-description:
    name: Update Docker Hub Description
    uses: NelsonDane/Custom-GitHub-Actions/.github/workflows/dockerhub-description.yml@e64ec758b6758d58955cab25a0e330f9bab380dd
    with:
      dockerhub_repo_name: auto-rsa
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
