name: Release

on:
  push:
    tags:
        - "v*.*.*"

jobs:
    pypi:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/project/auto-rsa-bot/
        permissions:
            id-token: write
            contents: read
        steps:
          - name: Checkout
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            with:
                submodules: recursive
          - name: Install uv
            uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
          - name: Build
            run: uv build
          # Check that basic features work and we didn't miss to include crucial files
          - name: Smoke test (wheel)
            run: uv run --isolated --no-project --with dist/*.whl auto_rsa_bot --help
          - name: Smoke test (source distribution)
            run: uv run --isolated --no-project --with dist/*.tar.gz auto_rsa_bot --help
          - name: Publish
            run: uv publish
