name: Release

on:
  push:
    tags:
        - "v*.*.*"

jobs:
    pypi:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/project/auto-rsa-bot/
        permissions:
            id-token: write
            contents: read
        steps:
          - name: Checkout
            uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
            with:
                submodules: recursive
          - name: Install uv
            uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
          - name: Build
            run: uv build
          # Check that basic features work and we didn't miss to include crucial files
          - name: Smoke test (wheel)
            run: uv run --isolated --no-project --with dist/*.whl auto_rsa_bot --help
          - name: Smoke test (source distribution)
            run: uv run --isolated --no-project --with dist/*.tar.gz auto_rsa_bot --help
          - name: Publish
            run: uv publish
