name: Release

on:
  push:
    tags:
        - "v*.*.*"

jobs:
    pypi:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/project/auto-rsa/
        permissions:
            id-token: write
            contents: read
        steps:
          - name: Checkout
            uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
          - name: Install uv
            uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
          - name: Install Python 3.12
            run: uv python install 3.12
          - name: Build
            run: uv build
          # Check that basic features work and we didn't miss to include crucial files
          - name: Smoke test (wheel)
            run: uv run --isolated --no-project --with dist/*.whl auto_rsa_bot --help
          - name: Smoke test (source distribution)
            run: uv run --isolated --no-project --with dist/*.tar.gz auto_rsa_bot --help
          - name: Publish
            run: uv publish
